.fHeader {
  font-size: 30px;
  font-weight: bold;
  color: #222e46;
  font-family: 'open sans', sans-serif;
}
.lHeader {
  font-size: 30px;
  font-weight: bold;
  color: #3aa391;
  font-family: 'open sans', sans-serif;
}
.desc {
  color: #717171;
  font-size: 1em;
  font-weight: 400;
  font-family: 'open sans', sans-serif;
}
.fButton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #222e46;
  font-family: 'open sans', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}
.lButton {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #222e46;
  background-color: white;

  font-family: 'open sans', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.info {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 350px;
}
.experience {
  display: flex;
  align-items: center;
}
.experience .counter {
  font-size: 40px;
  font-weight: bold;
  color: #222e46;
  font-family: 'open sans', sans-serif;
}
.clients {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.clients p {
  font-size: 40px;
  font-weight: bold;
  color: #222e46;
  font-family: 'open sans', sans-serif;
  padding-right: 10px;
}
.img {
  width: 100%;
  animation: FadeInOut 2s ease-in-out infinite;
}
.buttonContainer {
  margin-left: 10px;
  margin-right: 10px;
}
.buttonsContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
}
.counterLabel {
  font-size: 1em;
  color: #222e46;
}
.infoSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
@keyframes FadeInOut {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
