.header {
  font-size: 2em;
  font-weight: bold;
  font-family: 'open sans', 'sans-serif';
  color: #222e46;
  text-align: left;
}
.header span {
  color: #3aa391;
}
.subtitle {
  font-size: 16px;
}
.header p {
  font-size: 16px;
  color: #717171;
  font-weight: 400;
}
.targetsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 1.5em;
}
.targetsContainer img {
  width: 1.5em;
  height: 1.5em;
}
.targets {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}
.targets span {
  padding-right: 20px;
}
.desc {
  color: #717171;
  font-size: 1em;
  font-weight: 400;
  padding-top: 20px;
  text-align: left;
}
.img {
  width: 100%;
}
.info {
  padding: 20px;
}
.imageContainer {
  padding: 20px;
}
.row {
  align-items: center;
}
