.items {
  display: flex;
  align-items: center;
  color: #222e46;
  font-size: 30px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
  padding: 0 50px;
  justify-content: space-between;
}
.btn {
  background-color: #3aa391;
  color: white;
  outline: none;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  cursor: pointer;
  font-family: 'open sans', sans-serif;
  padding: 10px 20px;
}
.img {
  max-width: 100%;
}
