.header {
  font-weight: bold;
  font-size: 50px;
  font-family: 'open sans', sans-serif;
  color: #222e46;
  padding-left: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.img {
  width: 230px;
}
.img img {
  width: 100%;
  height: auto;
}
.imgContainer {
  display: flex;
  width: 80%;
  justify-content: end;
  align-items: center;

  height: 7px;
}
.subTitle {
  font-size: 20px;
  font-weight: bold;
  color: #717171;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}
.viewMore {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  background-color: #222e46;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
