.head {
  color: #3aa391;
  font-size: 38px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
  padding-left: 70px;
}
.head h2 {
  color: #222e46;
  font-size: 38px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
}
.head p {
  color: #717171;
  font-size: 18px;
  font-weight: 400;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
.item {
  display: flex;
  color: #717171;
  font-size: 18px;
  font-family: 'open sans', sans-serif;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.item p {
  color: #222e46;
  font-size: 30px;
  font-weight: bold;
  font-family: 'open sans', sans-serif;
}
.fImg {
  padding: 30px 30px 5px;
}
.fImg img {
  width: 100%;
  height: auto;
}
.sImg {
  padding: 30px 30px 5px;
}
.sImg img {
  width: 100%;
  height: auto;
}
.thImg {
  padding: 30px 30px 5px;
}
.thImg img {
  width: 100%;
  height: auto;
}
.icon {
  background-color: #f4f4f4;
  font-size: 38px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
